<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>BGDSS</title>
	<link rel="stylesheet" href="/static/css/game.css">
	<link rel="stylesheet" href="/static/css/common.css">
	<script src="/static/js/lib/phaser.min.js"></script>
	<script src="/static/js/lib/howler.min.js"></script>
	<script type="module" src="/static/js/index.js"></script>
	<!-- <script src="static/js/lib/yconsole.min.js"></script> -->
	<!-- <script type="text/javascript" >YConsole.show();</script> -->
</head>
<body>
<div id="dpi"></div>
<div id="game-main">

</div>
</body>
</html>