#game-main {
	height: 100%;
	width: 100%;
	background-color: black;
	overflow: hidden;
	touch-action: none;
}

#game-main canvas {
	box-shadow: 0 0 5px white;
}

html, body {
  overflow-x: hidden;
	touch-action: none;
}
body {
  position: relative;
	background-color: black;
}