<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<title>BGDSS</title>
	<link rel="icon" href="/img/favicon.png">
	<link rel="stylesheet" href="/css/game.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/live.css">
	<script>window.BGDSS = {};</script>
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="/js/lib/phaser.min.js"></script>
	<script src="/js/lib/howler.min.js"></script>
	<script src="/js/lib/cookie.min.js"></script>
	<script type="module" src="/js/index.js"></script>
	<script>
		$(document).ready(() => {
			window.BGDSS.startGame();
		})
	</script>
	<!-- <script src="static/js/lib/yconsole.min.js"></script> -->
	<!-- <script type="text/javascript" >YConsole.show();</script> -->
</head>
<body>
<div id="dpi"></div>
<div id="game-main"></div>
</body>
</html>